<main>
  <h3>
    {{ 'tabs.plans-for-the-future' | translate }}
  </h3>

  <table>
    <tbody>
    <tr>
      <td><h2>2020</h2></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><h3>Q1</h3></td>
      <td>-</td>
      <td>
        {{ 'plans-for-the-future.2020-q1' | translate }}
      </td>
    </tr>
    <tr>
      <td><h3>Q2</h3></td>
      <td>-</td>
      <td>
        {{ 'plans-for-the-future.2020-q2' | translate }}
      </td>
    </tr>
    <tr>
      <td><h3>Q3</h3></td>
      <td>-</td>
      <td>
        {{ 'plans-for-the-future.2020-q3' | translate }}
      </td>
    </tr>
    <tr>
      <td><h3>Q4</h3></td>
      <td>-</td>
      <td>
        {{ 'plans-for-the-future.2020-q4' | translate }}
      </td>
    </tr>
    <tr>
      <td><h2>2021</h2></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><h3>Q1</h3></td>
      <td>-</td>
      <td>
        {{ 'plans-for-the-future.2020-q1' | translate }}
      </td>
    </tr>
    </tbody>
  </table>

</main>
