<main>
  <h3>
    {{ 'tabs.personal-qualities' | translate }}
  </h3>

  <ul>
    <li>{{ 'personal-qualities.stress-resistance' | translate }}</li>
    <li>{{ 'personal-qualities.sociability' | translate }}</li>
    <li>{{ 'personal-qualities.great-willpower' | translate }}</li>
    <li>{{ 'personal-qualities.striving-for-improvement' | translate }}</li>
    <li>{{ 'personal-qualities.high-efficiency' | translate }}</li>
    <li>{{ 'personal-qualities.focus-on-the-result' | translate }}</li>
    <li>{{ 'personal-qualities.organization' | translate }}</li>
    <li>{{ 'personal-qualities.industry' | translate }}</li>
  </ul>

</main>
