.change-lang {
  cursor: pointer;
}

.content-center {

  .header {
    padding-top: 2rem;
    display: flex;

    .profile-image {
      img {
        border-radius: 50%;
        max-width: 200px;

        @media (max-width: 300px) {
          max-width: 50px;
        }
      }
    }

    .profile-info {
      padding-left: 3rem;
    }

  }

  .middle {
    display: flex;

    .content {
      max-width: 15rem;
      height: 100%;
      border-right: 1px solid silver;

      ul {
        list-style: none;
        padding-left: 0;

        li {
          padding-top: 0.8rem;
          padding-right: 1rem;
          a {
            color: black;

            &:hover {
              opacity: 0.7;
            }
          }

          &.active a {
            color: cornflowerblue;
          }
        }
      }
    }

    router-outlet {
      margin-left: 1rem;
    }
  }

}
