<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">{{ 'title' | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">{{ 'header.home' | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="y-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" (click)="selectNextLang()">{{ 'change-lang' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container content-center">
  <div class="header">
    <div class="profile-image">
      <img src="assets/profile-image.png" alt="Profile image">
    </div>

    <div class="profile-info">
      <h1 class="profile-name">
        {{ 'profile.name' | translate }}
      </h1>
      <h3 class="text-muted">
        {{ 'profile.short-info' | translate }}
      </h3>
    </div>
  </div>

  <div class="middle">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary active">{{ 'tabs.personal-qualities' | translate }}</button>
      <button type="button" class="btn btn-secondary">{{ 'tabs.professional-skills-and-abilities' | translate }}</button>
      <button type="button" class="btn btn-secondary">{{ 'tabs.plans-for-the-future' | translate }}</button>
    </div>

    <router-outlet>

    </router-outlet>
  </div>


</div>
