<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">{{ 'title' | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">{{ 'header.home' | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="y-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link change-lang" (click)="selectNextLang()">{{ 'change-lang' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container content-center">
  <div class="header">
    <div class="profile-image">
      <img src="assets/profile-image.png" alt="Profile image">
    </div>

    <div class="profile-info">
      <h1 class="profile-name">
        {{ 'profile.name' | translate }}
      </h1>
      <h3 class="text-muted">
        {{ 'profile.short-info' | translate }}
      </h3>
    </div>
  </div>

  <hr>

  <main class="middle">
    <div class="content">
      <ul>
        <li class="active">
          <a routerLink="personal-qualities">
            {{ 'tabs.personal-qualities' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="professional-skills-and-abilities">
            {{ 'tabs.professional-skills-and-abilities' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="plans-for-the-future">
            {{ 'tabs.plans-for-the-future' | translate }}
          </a>
        </li>
      </ul>
    </div>

    <router-outlet>

    </router-outlet>
  </main>


</div>
