<main>
  <h3>
    {{ 'tabs.professional-skills-and-abilities' | translate }}
  </h3>

  <div class="d-flex skill-box">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Frontend
        </h5>
        <div class="card-text">
          <ul>
            <li>HTML5</li>
            <li>CSS</li>
            <li>SCSS</li>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>Vue</li>
            <li>React</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Backend
        </h5>
        <div class="card-text">
          <ul>
            <li>Java</li>
            <li>NodeJS</li>
            <li>Spring</li>
            <li>Express</li>
            <li>PHP</li>
            <li>Laravel</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          DevOps
        </h5>
        <div class="card-text">
          <ul>
            <li>Docker</li>
            <li>Docker Compose</li>
            <li>Swarm</li>
            <li>Kubernetes</li>
            <li>CI/CD</li>
          </ul>
        </div>
      </div>
    </div>

  </div>


  <div class="d-flex skill-box">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Databases
        </h5>
        <div class="card-text">
          <ul>
            <li>MySQL</li>
            <li>PostgreSQL</li>
            <li>Oracle DB</li>
            <li>SQLite</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Process
        </h5>
        <div class="card-text">
          <ul>
            <li>Agile</li>
            <li>Scrum</li>
            <li>XP</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Mentor
        </h5>
        <div class="card-text">
          <ul>
            <li>1-to-1 Meetings</li>
          </ul>
        </div>
      </div>
    </div>


  </div>

</main>
